.contenedor-principal-parejas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedor-parejas{
    margin-top: 50px;
    width: 30%;
    min-height: 100px;
    background-color: #CAB8FF;
    box-shadow: 2px 1px 8px 2px white;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
}

.columna-parejas-operaciones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.columna-parejas-resultados{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.tarjeta{
    min-width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid #AFB0B6;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px;
    font-size: 1em;
    font-weight: bold;
}

.tarjeta:hover{
    background-color: white;
    box-shadow: 1px 1px 5px white;
}

h3{
    justify-self: center;
    align-self: center;
    color: whitesmoke;
    text-shadow: 2px 1px white;
    font-size: 2em;
    margin-top: 30px;

}