.contenedor-principal-verdadero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    min-height: 1auto;

}

.contenedor-central{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contenedor-operacion{
    margin-top: 50px;
    width: 200px;
    min-height: 100px;
    background-color: #CAB8FF;
    box-shadow: 2px 1px 8px 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2em;
    border-radius: 30px;
}

.contenedor-opciones-resultado{
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    
}
.contenedor-opciones-resultado .boton{
    font-size: 1em;
}